{% extends "bootstrap/base.html" %}

{% block title %}
AI Devices
{% endblock %}

{% block styles %}
{{super()}}
{% include "header.html" %}
{% endblock %}

{% block content %}



<div class="container" id="app">

    <table class="table table-sm table-hover table-dark">
      <thead>
        <tr>
          <th scope="col" class="col-md-2">序号</th>
          <th scope="col" class="col-md-2">设备名称</th>
          <th scope="col" class="col-md-2">设备ip</th>
          <th scope="col" class="col-md-2">设备版本</th>
          <th scope="col" class="col-md-2">设备状态</th>
          <th scope="col" class="col-md-2">设备供应商</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="camera in cameras">
          <td class="col-md-2">[[camera.id]]</td>
          <td class="col-md-2">[[camera.name]]</td>
          <td class="col-md-2">[[camera.ip]]</td>
          <td class="col-md-2">[[camera.method]]</td>
          <td class="col-md-2">[[camera.type]]</td>
          <td class="col-md-2">[[camera.chart]]</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-sm table-hover table-dark">
      <thead>
        <tr>
          <th scope="col" class="col-md-2">计算机名称</th>
          <th scope="col" class="col-md-2">计算机系统</th>
          <th scope="col" class="col-md-2">系统版本</th>
          <th scope="col" class="col-md-2">处理器</th>
          <th scope="col" class="col-md-2">内存总量</th>
          <th scope="col" class="col-md-2">内存使用百分比</th>
          <th scope="col" class="col-md-2">磁盘总量</th>
          <th scope="col" class="col-md-2">磁盘使用百分比</th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <td class="col-md-2">[[computer.computer_name]]</td>
          <td class="col-md-2">[[computer.computer_system]]</td>
          <td class="col-md-2">[[computer.computer_system_version]]</td>
          <td class="col-md-2">[[computer.computer_processor]]</td>
          <td class="col-md-2">[[computer.mem_total]]</td>
          <td class="col-md-2">[[computer.mem_persent]]</td>
          <td class="col-md-2">[[computer.disk_total]]</td>
          <td class="col-md-2">[[computer.disk_persent]]</td>
        </tr>
      </tbody>
    </table>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>

<script>

var charts=[];

var app = new Vue({
  el: '#app',

  data: {
      msg:"12341231",
      imageSRC: "/static/default.jpg",
      cameras: [],
      computer:{}
  },
  created:function(){
      console.log("APP started.");

  },
  mounted:function(){
    var _this=this;
    $.getJSON("/devices/get_info", function(response_data){
      _this.cameras=response_data.data;

    });
    $.getJSON("/devices/get_computer_info", function(response_data){
      _this.computer=response_data.data;

    });

  }
});

</script>
{% endblock %}

