{% extends "bootstrap/base.html" %}

{% block title %}
AI Stats
{% endblock %}

{% block styles %}
{{super()}}
{% include "header.html" %}
{% endblock %}

{% block content %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<div class="container" id="app">
  <div class="stats">
     <div id="myDiv" style="width:500px;height:800px"><!-- Plotly chart will be drawn inside this DIV --></div>
  </div>

  <div class="chart-container" style="width:200px; height:80px;">
    <canvas id="bar-chart" width="800" height="450"></canvas>
  </div>

</div><!-- /.container -->

<script>
//heat map


var layout = {
	  title: 'Hourly Heatmap',
	  annotations: [],
	  xaxis: {
		      ticks: '',
		      side: 'top'
		    },
	  yaxis: {
		      ticks: '',
		      ticksuffix: ' ',
		      autosize: false
		    },
	  plot_bgcolor: '#000',
	        outlinecolor: "#F00",
	  _paper_bgcolor: '#eee'
};

getInfo();

setInterval(function(){
    getInfo();
},1000*60*60);

function getInfo(){
    $.getJSON("/stats/gen_hour_stats", function(response_data){
        var _z=response_data.data;
        var data = [
            {
                 z: _z,
                 x: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', "Sat"],
                 y: ['00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'],
                 type: 'heatmap',
                 xgap: 1,
                 ygap: 1,
                  _coloraxis: "coloraxis2",
                  colorscale: [
                       ['0.0', 'rgb(0,255,0)'],
                          ['0.2', 'rgb(50,200,0)'],
                          ['0.4', 'rgb(200,150,0)'],
                          ['0.6', 'rgb(255,50,0)'],
                          ['0.8', 'rgb(255,10,0)'],
                          ['1.0', 'rgb(255,0,0)']],
                  colorbar:{
                            thickness: 10
                          }
            }
        ];
        Plotly.newPlot('myDiv', data, layout, {showSendToCloud: false});
    });
};

</script>
{% endblock %}
